@font-face {
    font-family: 'Myriad Pro Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Regular'), url('../fonts/MYRIADPRO-REGULAR.woff') format('woff');
}


* {
    margin: 0;
    padding: 0;
}

html{
    background: url("../img/flou.png") no-repeat;
    background-position-x: -700px;
    background-size: cover;
}

main {
    display: flex;
}

.left-part {
    width: 45%;
    position: relative;
}

.right-part {
    width: 55%;
    background-color: white;
    position: relative;
}

.right-part-infos {
    padding-bottom: 140px;
}

.right-part-footer {
    padding: 20px 0;
    background-color: #333333;
    width: 100%;
}

.logo {
    z-index: 10;
    position: absolute;
    top: 120px;
    left: 25%;
}

.logo img:hover {
    zoom: 1.005;
}

.logo img {
    max-width: 70%;
}

.text-left {
    top: 550px;
    position: absolute;
    text-align: center;
    width: 100%;
    color: white;
    font-size: 1.5em;
}

.info {
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
    margin-bottom: 40px;
}

.button_ip {
    background-color: rgba(255, 255, 255, 0.219);
    text-decoration: none;
    position: absolute;
    left: 24%;
    font-size: 2.2em;
    top: 690px;
    font-weight: bold;
    color: white;
    padding: 20px;


}

.button_ip:hover {
    background-color: rgba(172, 162, 162, 0.5);
}

.button_forum, .button_shop {
    margin-top: 20px;
}

.button_forum {
    color: white;
    background-color: #66ccff;
    text-decoration: none;
    position: absolute;
    padding: 7px 12%;
    font-size: 60px;
    left: 5%;
}

.button_forum:hover {
    background-color: #89caeb;
    zoom: 1.002;
}

.button_shop {
    color: white;
    background-color: #ffcc66;
    text-decoration: none;
    position: absolute;
    font-size: 60px;
    right: 5%;
    padding: 7px 7%;
}

.button_shop:hover {
    background-color: #ffd37a;
    zoom: 1.002;
}

.title {
    margin-top: 40px;
    color: #444040;
    padding: 20px;
    text-align: center;
    font-size: 50px;
}

.text {
    text-align: center;
    color: #444040;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;

}

#text_italic {
    font-style: italic;
}

hr {
    width: 80%;
    margin: auto;
    border: #333333 solid 2px;
}

.icon_contact {
    display: flex;
    width: 60%;
    justify-content: space-around;
    margin: auto;
    text-align: center;
}

.icon_contact_desc {
    margin-top: 10px;
    font-size: 1em;
    color: white;
}

.icon_contact img {
    width: 4em;
    object-fit: contain;
}

.discord-icon:hover {
    zoom: 1.002;
}

.twitter-icon:hover {
    zoom: 1.002;
}

#separator_footer {
    margin: 30px auto;
    border-color: #c6c6c6;
    width: 70%;
}

.blue {
    color: rgb(31, 168, 223);
}

.cgu_text {
    color: white;
    font-size: 13px;
    text-align: center;
}

.orange {
    color: orange;
}

.deco_link {
    text-decoration: none;
}

.text_afi {
    color: white;
    text-align: center;
    font-size: 16px;
}